body {
    background: #000;
    font-family: 'monospace';
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}
#zone {
    width: 640px;
    height: 480px;
    border: solid 1px #0f0;
}
#header {
    display: none;
}
#footer {
    color: #003300;
    text-align: center;
    padding-top: 15px;
}
#footer a {
    color: #004400;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
